.herbarium-search nav {
	display: flex;
	width: 100%;
}

ul.js-pager__items {
	display: flex;
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	justify-content: center;
	list-style: none;
}

ul.js-pager__items li {
	padding: 10px;
}
