//@format
form#views-exposed-form-herbarium-search-page-1 {
  input {
    margin: 0;
  }
  .form-actions {
    display: none;
  }
}
#views-exposed-form-herbarium-search-page-1 {
  label {
    display: none;
  }
  @extend .input-group;
  margin-bottom: 0;
}
