//@format
//.menu--account .menu-item a {
//@include button();
//margin: 0;
//}
//nav#block-useraccountmenu {
//float: right;
//}
//.content__feature {
//padding-bottom: $global-padding * 2;
//}

//.frontpage-blocks,
.views-infinite-scroll-content-wrapper,
.grid-container {
  margin-top: $global-margin;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: $global-padding;
  padding-top: $global-padding * 2;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.lp-card__container {
  @include grid-column();
  @include breakpoint(medium) {
    @include grid-column(4);
  }
}
.lp-block {
  @include card-container;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  border-width: 0;

  img {
    //max-height: 290px;
  }
  article > div:first-child > div:first-child {
    display: none;
  }
}
.lp-block__title {
  @include card-divider;
  //@extend h3;
  background: $herbarium-light-green;
  margin-bottom: 0;
  display: none;
}
.lp-block__content {
  img {
    width: 300px;
    height: auto;
    margin-right: $global-margin;
    @extend .thumbnail;
  }
  @include card-section;
  //display: flex;
  dl {
    margin-left: 1rem;
    font-size: ms(0);
  }
  dt {
    float: left;
    clear: left;
    width: rem-calc(110);
    //text-align: right;
  }
  dt::after {
    content: ':';
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }
}
#block-foxreporting,
#block-coyotereporting,
#block-otherwildlife {
  /*@include grid-column(4, 2rem);*/
}
